{{#if alert}}
<div class="alert alert-success d-flex align-items-center" role="alert">
    {{alert}}
</div>
{{/if}}

{{#each rows}}
<form method="POST" action="/changeRole/{{this.ID}}" novalidate>
    <div class="form__input">
        <label class="form-label" for="floatingInput">First name</label>
        <input readonly type="text" class="form-control" id="floatingInput" value="{{this.FirstName}}"
            placeholder="First Name" name="first_name">
    </div>

    <div class="form__input">
        <label class="form-label" for="floatingInput">Last name</label>
        <input readonly type="text" class="form-control" id="floatingInput" value="{{this.LastName}}"
            placeholder="Last Name" name="last_name">
    </div>

    <div class="form__input">
        <label class="form-label" for="floatingInput">Role</label>
        <input type="text" class="form-control" id="floatingInput" value="{{this.RoleID}}" placeholder="Role"
            name="role_ID">
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>
{{/each}}