<div class="admin-nav">
  <a href="/homeUser" style="text-decoration: underline;">Home</a>
  <form class="row g-3" method="POST" action="/exit" novalidate>
    <button type="submit">
      <p>Exit</p>
    </button>
  </form>
</div>


{{#each rows}}

<p>Hi {{this.FirstName}}, Welcome to AMONIC Airlines</p>
<div class="user-stat">
    <p><strong>Time spent on system</strong>:  </p>
    <p>Number of crashes: {{this.crushes}}</p>
</div>

{{/each}}

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Login Time</th>
      <th scope="col">Logout Time</th>
      <th scope="col">Time spend on system</th>
      <th scope="col">Unsuccessful logout reason</th>
    </tr>
  </thead>
  <tbody>
    {{#each log}}
    <tr>
      <td>{{this.Date}}</td>
      <td>{{this.LogTime}}</td>
      <td>{{this.LogOutTime}}</td>
      <td>{{this.TimeSpendOne}} min</td>
      <td>{{this.Reason}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>


