<div class="admin-nav">
  <a href="/homeAdmin" style="text-decoration: underline;">Home</a>
  <a href="/addUserView">Add user</a>
  <form class="row g-3" method="POST" action="/exit" novalidate>
    <button type="submit">
      <p>Exit</p>
    </button>
  </form>
</div>

<div class="offices_dropdown">
  <p>Office</p>
  
  <select id="officesDropdown" name="offices" onchange="checkOffice()">
    <option value="All offices">All offices</option>
    <option value="Abu dhabi">Abu dhabi</option>
    <option value="Cairo">Cairo</option>
    <option value="Bahrain">Bahrain</option>
    <option value="Doha">Doha</option>
    <option value="Riyadh">Riyadh</option>
  </select>
</div>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Age</th>
      <th scope="col">User Role</th>
      <th scope="col">Email Address</th>
      <th scope="col">Office</th>
      <th scope="col">Active</th>
      <th scope="col" class="text-end">Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each rows}}
    <tr>
      <td>{{this.FirstName}}</td>
      <td>{{this.LastName}}</td>
      <td>{{this.Birthdate}}</td>
      <td id="RoleID">{{this.RoleID}}</td>
      <td>{{this.Email}}</td>
      <td id="offices">{{this.OfficeID}}</td>
      <td id="activeUser">{{this.Active}}</td>
      <td>
        <a href="/changeRole/{{this.ID}}" type="button">Change Role</a>
        <a href="/blockUser/{{this.ID}}" type="button">Enable/Disable</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>