<div class="admin-nav">
    <a href="/homeUser">Home</a>
    <a href="/manageFlight" style="text-decoration: underline;">Flight Manager</a>
    <form class="row g-3" method="POST" action="/exit" novalidate>
        <button type="submit">
            <p>Exit</p>
        </button>
    </form>
</div>


<div class="manageFlight">

    <h1>Manage Flight Schedules</h1>

    <h2 class="manageFlight_subtitle">Filter by</h2>
    <div class="manageFlight_filters">
        <div class="manageFlight_filters__item">
            <p>From</p>
            <select id="AirportsFromDropdown" name="AirportsFrom">
                <option value="All">All airports</option>
                <option value="AUH">AUH</option>
                <option value="CAI">CAI</option>
                <option value="BAH">BAH</option>
                <option value="ADE">ADE</option>
                <option value="DOH">DOH</option>
                <option value="RUH">RUH</option>
            </select>
        </div>

        <div class="manageFlight_filters__item">
            <p>To</p>
            <select id="AirportsToDropdown" name="AirportsTo">
                <option value="All">All airports</option>
                <option value="AUH">AUH</option>
                <option value="CAI">CAI</option>
                <option value="BAH">BAH</option>
                <option value="ADE">ADE</option>
                <option value="DOH">DOH</option>
                <option value="RUH">RUH</option>
            </select>
        </div>

        <div class="manageFlight_filters__item">
            <p>Sort by</p>
            <select id="sortDropdown" name="sort">
                <option value="All">Without sort</option>
                <option value="Date">Date-Time</option>
                <option value="Price">Price</option>
                <option value="Approved">Approved</option>
            </select>
        </div>

        <div class="manageFlight_filters__item">
            <p>Outbound</p>
            <input type="text" class="form-control" id="outboundInput" value="" placeholder="dd / mm / yyyy"
                name="outbound">
        </div>

        <div class="manageFlight_filters__item">
            <p>Flight Number</p>
            <input type="text" class="form-control" id="flightNumberDropdown" value="" placeholder="01"
                name="flightNumber">
        </div>

        <button type="submit" onclick="filterFlight()">Apply</button>
    </div>

    <div class="manageFlight_data">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">From</th>
                    <th scope="col">To</th>
                    <th scope="col">Flight number</th>
                    <th scope="col">Aircraft</th>
                    <th scope="col">Economy price</th>
                    <th scope="col">Business price</th>
                    <th scope="col">First class price</th>
                    <th scope="col">is Confirmed?</th>
                </tr>
            </thead>

            <tbody>
                {{#each data}}
                <tr class="flightItem">
                    <td id="outbound">{{this.Date}}</td>
                    <td>{{this.Time}}</td>
                    <td id="airportsFrom">{{this.From}}</td>
                    <td id="airportsTo">{{this.Arrival}}</td>
                    <td id="flightNumbers">{{this.FlightNumber}}</td>
                    <td>{{this.AircraftID}}</td>
                    <td>${{this.EconomyPrice}}</td>
                    <td>${{this.BusinessPrice}}</td>
                    <td>${{this.FirstClassPrice}}</td>
                    <td id="isConfirmed">{{this.Confirmed}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <div class="manageFlight_actions">
        <div class="manageFlight_actions__edit">
            <button>
                <p>Change Flight</p>
                <img src="../img/changeFlight.svg">
            </button>

            <button>
                <p>Edit Flight</p>
                <img src="../img/editFlight.svg">
            </button>
        </div>

        <button class="manageFlight_actions__import">
            <p>Import Changes</p>
            <img src="../img/import.svg">
        </button>
    </div>

</div>