<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">View User</li>
    </ol>
</nav>

<div class="viewuser p-5">

    {{#each rows}}

    <div class="row mb-5">
        <div class="col text-center">
            <h3>{{this.FirstName}} {{this.LastName}}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <th scope="row">{{this.FirstName}}</th>
                        <td>{{this.LastName}}</td>
                        <td>{{this.Email}}</td>
                        <td>{{this.Birthdate}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{/each}}


</div>